 *{
    box-sizing: border-box;   
}



body{
    /* background-color: violet; */
    font-size: 30px;
    margin: 0px;
    padding: 15px;
}
main{
    font-size: 25px;
    background-color: blue;
    border-radius: 30px;
    padding: 15px;
}


/* medidas absolutas */

#absoluta{
    background-color: black;
    color: white;
    width: 250px;
    height: 250px;
    padding: 20px;
    /* margin: 20px; */
    font-size: 25px;
}
section{
    font-size: 10px;
}
/* medidas relativas */
/* rem tiene como referencia al elemento root del padre */
#relativa{
    width: 2rem;
    font-size: 2rem;
}
/* em tiene como referencia al elemento padre */
#relativa2{
    width: 2em;
}
.relativa3{
    background-color: aliceblue;
    color: black;
    width: 100vw;
    height: 100vh;
}
#min{
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    background-color: aquamarine;
}
#min-2{
    height: 300px;
    width: 100%;
}
.box{
    width: 33%;
    height: 50px;
    background-color: cornflowerblue;
    float: left;
    padding: 20px;
}
.box:hover::before{
    width: 150px;
    height: 70px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50px;
    content: "puede pasar";
}
#avatar{
     width: 90px;
}
#avatar:hover{
    display: none;
}
#main-avatar{
    min-height: 156px;
}
.tipos{
    background-color: chartreuse;
    top: 0px;
    left: 250px;
}
#menu{
    position: fixed;
    top: 0px;

}
#main-position{
    margin-top: 150px;
}
#sticky{
    display: flex;
    height: content;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: rgba(2, 1, 0, 0.74);  
}

footer{
    bottom: 0px;
}